# Partie 2

In [ ]:
# prompt: PySpark connection to a json file called ventes.json
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
df = spark.read.option("multiline", True).json('ventes.json')
df.show()

+---------+----------+---------------------------+--------+----------+
|client_id|nom_client|nombre_appartements_achetes|revenues|     ville|
+---------+----------+---------------------------+--------+----------+
|        1|    Dubois|                          3|  150000|     Rabat|
|        2|    Durand|                          2|  120000|Casablanca|
|        3|    Dubois|                          2|   90000|     Rabat|
|        4|    Martin|                          1|   50000|    Tanger|
+---------+----------+---------------------------+--------+----------+

In [ ]:
# prompt: Afficher les deux première villes ou l’entreprise a réalisé plus de ventes (en terme de revenues).

df.groupBy('ville').agg({'revenues': 'sum'}).orderBy('sum(revenues)', ascending=False).limit(2).show()

+----------+-------------+
|     ville|sum(revenues)|
+----------+-------------+
|     Rabat|       240000|
|Casablanca|       120000|
+----------+-------------+

In [ ]:
# prompt: Afficher la liste des clients qui possèdent plus qu’un appartement à rabat.

df.filter(df.ville == 'Rabat').groupBy('nom_client').count().filter('count > 1').show()

+----------+-----+
|nom_client|count|
+----------+-----+
|    Dubois|    2|
+----------+-----+

In [ ]:
# prompt: Afficher le nombre d’appartements vendues à Casablanca.

df.filter(df.ville == 'Casablanca').groupBy('nom_client').count().show()

+----------+-----+
|nom_client|count|
+----------+-----+
|    Durand|    1|
+----------+-----+